In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))


import pandas as pd
import numpy as np
from datetime import datetime, timedelta
pd.options.display.max_rows = 999

dtype = {'Oil (BBLS)': float, 'Water (BBLS)': float, 'Gas (MCF)': float, 'TP': float, 'CP': float}
df = pd.read_json('data.json')
df = df.fillna('')
df.Date = pd.to_datetime(df.Date)
df = df.sort_values(['Date', 'Well Name'], ascending = [False , True])

In [2]:
# Append daily production data to data.csv

# production_date_counter = input('Production from how many days ago? ')
# importFile = 'custom-report-cml_' + str(datetime.date.today() - pd.to_timedelta(production_date_counter +'day')) + '_9-00-03.csv'

# Get list of days that need production imported. Prevents the need for manual input 
end = datetime.today().date() # Gets today's date
start = df.iloc[0]['Date'].date() # Gets the most recent date from the dataframe
numdays = (end-start).days # Calculates the number of days between the above two dates
date_list = [end - timedelta(days=x) for x in range(numdays)]


#  Loop through dates that need production imported and try the different file name possibilities based on when the server sends the emails
for i in range(numdays-1):
    try:
        importFile = 'custom-report-cml_' + str(date_list[i]) + '_9-00-03.csv'
        dfImport = pd.read_csv(importFile, dtype = dtype, thousands=',')
    except:
        try:
            importFile = 'custom-report-cml_' + str(date_list[i]) + '_9-00-04.csv'
            dfImport = pd.read_csv(importFile, dtype = dtype, thousands=',')
        except:
            try:
                importFile = 'custom-report-cml_' + str(date_list[i]) + '_9-00-02.csv'
                dfImport = pd.read_csv(importFile, dtype = dtype, thousands=',')
            except:
                print('The latest production has not been imported from iWell yet.')
                break
    dfImport = dfImport.fillna('')
    dfImport.Date = pd.to_datetime(dfImport.Date)

    df = pd.concat([df,dfImport]).drop_duplicates()

df = df.sort_values(['Date', 'Well Name'], ascending = [False , True])
df.reset_index(drop=True, inplace=True)
df['Oil (BBLS)'].replace('',0, inplace=True)

# Save to original data file
df.to_json('data.json')

In [3]:
# df3 = pd.read_excel('.\OneDrive - CML Exploration\CML\South Texas Prod Tracker.xlsm', index_col=[0])

import ipywidgets as widgets
from IPython.display import display, HTML
from ipywidgets import interact, Dropdown, interact_manual

import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
%matplotlib inline

# Import from Quandl WTI crude oil price data
url = "https://www.quandl.com/api/v3/datasets/CHRIS/CME_CL1.csv"
try:
    wticl1 = pd.read_csv(url, index_col=0, parse_dates=True)
    oil_price = wticl1.iloc[0].Last
except:
    oil_price = 50
# Calculate monthly oil price
def oil_revenue(price, bopd):
    return round(price*.75*.954*bopd,2)

In [4]:
datevar = "Today's date is: " + datetime.strftime(date_list[0], '%m-%d-%Y')

display(HTML(f'<h1><left>South Texas Production Dashboard</left></h1>'))
display(HTML(f'<h4><left>{datevar}</left></h4>'))

# Create wellname and date widgets to sort dataframe
well_list = df['Well Name'].unique().tolist()

wellnameW = widgets.Dropdown(
    options=well_list,
    description='Well Name:',
)

dateW = widgets.IntSlider(
    value=7, max=2000, min=7,
    description='Days of Production:',
)

@interact_manual(wellname = wellnameW, date=dateW)
def main(wellname, date):
    df_query = df[
        (df['Well Name'] == wellname) & 
        (df['Date'] > datetime.now() - pd.to_timedelta(f'{date}day'))
    ]
    
    # Get yearly average production
    df365day = df[
        (df['Well Name'] == wellname) &
        (df['Date'] > datetime.now() - pd.to_timedelta('366day'))
    ]
    
#     x = df365day['Oil (BBLS)'].mean()
#     df_query['Relative to 365 Day Avg'] = round(df_query['Oil (BBLS)'] - x,0)
    
    
    # Get cum for entire well life regardless of days selected. That way cum oil is always correct
    df_cum = df[df['Well Name'] == wellname]
    cumoil = int(df_cum["Oil (BBLS)"].sum())
    
    try:
        display(HTML(f'<h2><left>The well has produced <span style="color:red;">{cumoil}</span> bbls of oil so far</left></h2>'))

        # Params
        plt.rcParams['figure.figsize'] = [15, 10]
        well_outputs = ['Oil (BBLS)', 'Water (BBLS)', 'Gas (MCF)']
        output_colors = ['g','b','r']
        sum_oil = int(df_query['Oil (BBLS)'].sum())
        

        fig, axs= plt.subplots(3)
        # Make 3 subplots for oil, water, and gas
        for i in range(3):
            axs[i].plot(df_query['Date'].tolist(), df_query[well_outputs[i]], color = output_colors[i])
            axs[i].set_title(f'{wellname} {well_outputs[i]} Production')
            axs[i].grid()

        fig.tight_layout()   
        plt.show()
        
    except:
        print('There are not enough days of production to create this graph.')
        
    pd.options.display.max_columns = None
    display(HTML(df_query.to_html()))
    
    
    display(HTML(f'<h3><left>The well has produced <span style="color:red;">{int(df_query["Oil (BBLS)"].sum())}</span> bbls in the selected time period</left></h3>'))
    
    # Find the well's pumping information from the wellinfo csv and display
    pump_sizes = {'0.132': "1-1/16\"", 
                  '0.182': "1-1/4\"", 
                  '0.262': "1-1/2\"", 
                  '0.357': "1-3/4\""
                 }
    
    df_info = pd.read_csv('wellinfo.csv')
    df_info = df_info[df_info['Well Name'] == wellname] 

    try:
        C = df_info.iloc[0]['C']
        SPM = df_info.iloc[0]['SPM']
        SL = df_info.iloc[0]['DH SL']
        idealbpd = df_info.iloc[0]['Ideal bfpd']
        efficiency = df_info.iloc[0]['Pump Eff']
        efficiency = round(float(efficiency)*100)
        depth = df_info.iloc[0]['Pump Depth']
        gflap = df_info.iloc[0]['GFLAP']
        inclination = df_info.iloc[0]['Pump Inc']
        pump = pump_sizes[C]

        display(HTML(f'<h4><left>The  <span style="color:red;">{wellname}</span> is pumping  <span style="color:red;">{SPM} spm</left></h4>'))
        display(HTML(f'<h4><left>The pump size is  <span style="color:red;">{pump}</span></left></h4>'))
        display(HTML(f'<h4><left>The stroke length is  <span style="color:red;">{SL}\"</span></left></h4>'))
        display(HTML(f'<h4><left>The ideal (100%) production rate is  <span style="color:red;">{idealbpd}</span> bfpd</left></h4>'))
        display(HTML(f'<h4><left>The well is currently pumping at  <span style="color:red;">{efficiency}%</span> efficiency</left></h4>'))
        display(HTML(f'<h4><left>The pump is set at a depth of  <span style="color:red;">{depth}\'</span> and an inclination of  <span style="color:red;">{inclination}</span> degrees</left></h4>'))
        display(HTML(f'<h4><left>The gas-free fluid level is currently  <span style="color:red;">{gflap}\'</span> above the pump</left></h4>'))

    except:
        display(HTML(f'<h4><left>This well is likely flowing or on gas lift</left></h4>'))

interactive(children=(Dropdown(description='Well Name:', options=('Aaron #1', 'Aniken #1', 'Anna Louisa #1', 'â€¦

In [5]:
# Code to replace incorrect values. Will need to be run on Pickens once per week
# df.loc[(df['Well Name'] == 'Pickens #1') & (df['TP'] == 200), ['Oil (BBLS)', 'Gas (MCF)', 'Water (BBLS)', 'TP']] = [0.0, 0.0, 0.0, 100.0]
# df.loc[(df['Well Name'] == 'Pickens #1')].head(60)
# df.loc[df['Well Name'].isin(['Dunlap #1', 'Dunkle #2'])]

# SET BLANKS TO 0
# df.loc[df['Oil (BBLS)'] == '', ['Oil (BBLS)', 'Gas (MCF)', 'Water (BBLS)']] = [0.0, 0.0, 0.0]

# SET OIL ON A CERTAIN DATE TO A NEW VALUE
# df.loc[(df['Well Name'] == 'Pecan Grove #1') & (df['Date'] == '2021-03-15'), 'Oil (BBLS)'] = 0.0

# df.to_json('data.json')

# GOR
# gas_col = df_query['Gas (MCF)']
# oil_col = df_query['Oil (BBLS)']

# df_query['GOR'] = gas_col/oil_col.replace(0,np.nan)*1000
# df_query['GOR'] = df_query['GOR'].astype(float)
# df_query['GOR'] = df_query['GOR'].round(decimals = 0)

# df_query.head()

In [6]:
# Create dataframes for different time periods
df7day = df[(df['Date'] > datetime.now() - pd.to_timedelta('8day'))]

# df30day = df[(df['Date'] > datetime.now() - pd.to_timedelta('31day'))]
# df30day

df365day = df[(df['Date'] > datetime.now() - pd.to_timedelta('366day'))]


# Get mean of yearly and weekly prod
yearlyavg = df365day.groupby('Well Name', as_index = False).agg({'Oil (BBLS)': ['mean']}) 
yearlyavg.columns = ['Well Name', '365 Day Avg Oil']

weeklyavg = df7day.groupby('Well Name', as_index = False).agg({'Oil (BBLS)': ['mean']}) 
weeklyavg.columns = ['Well Name', '7 Day Avg Oil']

# Merge dataframes
dfprod = weeklyavg.merge(yearlyavg, how='left', on='Well Name')
dfprod['Difference'] = dfprod.apply(lambda row: row['7 Day Avg Oil'] - row['365 Day Avg Oil'], axis = 1)

def highlight_greaterthan(s, threshold, column):
    is_max = pd.Series(data=False, index=s.index)
    is_max[column] = s.loc[column] < threshold
    return ['background-color: yellow' if is_max.any() else '' for v in is_max]


dfprod.style.apply(highlight_greaterthan, threshold=-5, column='Difference', axis=1)